<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f8296">  <td>20/04/18 16:04:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SimpleTestNgClassDemo.setUpTest()[pri:0, instance:TestNg.SimpleTestNgClassDemo@37918c79]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1128096251</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>20/04/18 16:04:59</td>   <td>4834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestNgClassDemo.performsActions()[pri:0, instance:TestNg.SimpleTestNgClassDemo@37918c79]">performsActions</td> 
  <td>main@1128096251</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>20/04/18 16:05:05</td>   <td>10519</td> <td>&nbsp;</td><td title="&lt;&lt;SimpleTestNgClassDemo.terminateTest()[pri:0, instance:TestNg.SimpleTestNgClassDemo@37918c79]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1128096251</td>   <td></td> </tr>
</table>
