<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ProgressiveTest.ProgressiveTestDemo</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>RateProgressPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Snapshot</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validQuote</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SelectAutoInsurance</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectDriversDetail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickOnAutolink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CodeandQuote</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectVehicleProgressive</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SelectQouteContinue</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
