<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:41:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ProgressiveTestDemo.setup()[pri:0, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:41:30</td>   <td>17765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestDemo.clickOnAutolink()[pri:0, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">clickOnAutolink</td> 
  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:41:31</td>   <td>18935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestDemo.CodeandQuote()[pri:1, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">CodeandQuote</td> 
  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:41:54</td>   <td>42099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestDemo.fillForm()[pri:2, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">fillForm</td> 
  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:42:16</td>   <td>64511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestDemo.selectVehicleProgressive()[pri:3, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">selectVehicleProgressive</td> 
  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:42:50</td>   <td>97918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestDemo.selectDriversDetail()[pri:4, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">selectDriversDetail</td> 
  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:43:21</td>   <td>129017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestDemo.SelectQouteContinue()[pri:5, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">SelectQouteContinue</td> 
  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:43:28</td>   <td>136664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestDemo.SelectAutoInsurance()[pri:6, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">SelectAutoInsurance</td> 
  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:43:53</td>   <td>161326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestDemo.Snapshot()[pri:7, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">Snapshot</td> 
  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:44:00</td>   <td>168521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestDemo.RateProgressPage()[pri:8, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">RateProgressPage</td> 
  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:44:15</td>   <td>182832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveTestDemo.validQuote()[pri:9, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">validQuote</td> 
  <td>main@919112242</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>20/05/24 20:44:25</td>   <td>193321</td> <td>&nbsp;</td><td title="&lt;&lt;ProgressiveTestDemo.tearDown()[pri:0, instance:ProgressiveTest.ProgressiveTestDemo@2928854b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@919112242</td>   <td></td> </tr>
</table>
